{% extends 'projectnavbar.html' %}
{% load static %}
{% block title %}About{% endblock title %}


{% block main-content %}
<br/><br/><br/>
<div class="container mt-3">
    <br/>
    <h2 class="text-center">
        About Us
    </h2>
    <br/>
    <div class="row container">
    <p class="fs-4 text-center">
       Welcome to ART GALLERY, a digital realm where artistic expression meets limitless possibilities. Our online platform is dedicated to curating a diverse and captivating collection of artworks, providing art enthusiasts with an immersive experience that transcends boundaries.
    </p>
        </div>
    <br/><br/>
    <h2 class="text-center">Our Vision</h2>
    <br/>
    <div class="row container">
        <p class="fs-4 text-center">
           At ART GALLERY, we envision a world where art is not confined by physical walls but is accessible to anyone, anywhere. Our mission is to create a global platform that fosters the appreciation of art, supports talented artists, and connects individuals with the transformative power of creativity.
        </p>
    </div>
     <h2 class="text-center">Explore a World of Creativity
</h2>
    <br/>
    <div class="row container">
        <p class="fs-4 text-center">
           Immerse yourself in a curated selection of paintings, sculptures, photography, and digital art. From timeless classics to cutting-edge contemporary pieces, our collection is a testament to the richness and diversity of artistic expression.
        </p>
    </div>
    <h2 class="text-center">Our Pledge to Quality and Satisfaction</h2>
    <br/>
    <div class="row container">
        <p class="fs-4 text-center">
          ART GALLERY is committed to delivering a secure and satisfying art-buying experience. From the point of discovery to the safe delivery of your chosen masterpiece, we prioritize quality, authenticity, and your overall satisfaction.
        </p>
    </div>


</div>
<br/><br/>
{% endblock main-content %}